Source: hfi1-diagtools-sw
Maintainer: Brian T. Smith <bsmith@systemfabricworks.com>
Section: utils
Priority: extra
Standards-Version: 3.9.8
Homepage: http://www.intel.com
Build-Depends: debhelper (>= 10),
               libpsm2-dev,

Package: hfi1-diagtools-sw
Architecture: linux-any
Depends: pciutils,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Intel HFI1 User Tools
 User utilities for the Intel Host Fabric Interface

