Source: hfi1-diagtools-sw
Maintainer: Brian T. Smith <bsmith@systemfabricworks.com>
Section: utils
Priority: extra
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Build-Depends: debhelper (>= 9),
               libpsm2-dev,
               ifs-kernel-updates-dev,

Package: hfi1-diagtools-sw
Architecture: linux-any
Depends: pciutils,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Intel HFI1 User Tools
 User utilities for the Intel Host Fabric Interface

Package: hfi1-diagtools-sw-dbg
Architecture: linux-any
Section: debug
Depends: hfi1-diagtools-sw (=${binary:Version}),
         ${misc:Depends},
Description: Debugging symbols for Intel HFI1 User Tools
 User utilities for the Intel Host Fabric Interface. This
 package contains the debugging symbols.
