Source: hfi1-diagtools-sw
Maintainer: Scibian Project <packaging@scibian.org>
Section: utils
Priority: extra
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/hfi1-diagtools-sw.git
Vcs-Browser: https://github.com/scibian/hfi1-diagtools-sw
Build-Depends: debhelper (>= 9),
               libpsm2-dev,
               linux-libc-dev,

Package: hfi1-diagtools-sw
Architecture: amd64
Depends: pciutils,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Intel HFI1 User Tools
 User utilities for the Intel Host Fabric Interface

Package: hfi1-diagtools-sw-dbg
Architecture: amd64
Section: debug
Depends: hfi1-diagtools-sw (=${binary:Version}),
         ${misc:Depends},
Description: Debugging symbols for Intel HFI1 User Tools
 User utilities for the Intel Host Fabric Interface. This
 package contains the debugging symbols.
