#!/usr/bin/make -f
#

export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --parallel

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=hfi1-diagtools-sw-dbg

.PHONY: override_dh_installdocs
override_dh_installdocs:
	dh_installdocs --link-doc=hfi1-diagtools-sw

.PHONY: override_dh_install
override_dh_install:
	dh_install
	chmod a-x `find debian/hfi1-diagtools-sw/usr/share/hfi-diagtools-sw/test_packets/ -type f -exec grep -L bin/sh {} \;`



